.weather {
    font-family: "Akaya Telivigala", cursive;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
}

.weather .weather-temprature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.weather .overview {
    background-color: #fff;
    padding-bottom: 0;
    margin-bottom: 0;
    box-shadow: 5px 5px 5px lightblue;
}

.weather .weather-temprature strong {
    color: rgb(32, 33, 36);
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    margin-left: 0px;
}

.weather .weather-temprature .units {
    position: relative;
    font-size: 20px;
    top: -17px;
}

.weather .weather-temprature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.weather .weather-temprature .active:hover {
    text-decoration: none;
}

.weather .weather-forcast {
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.weather .weather-forcast-date {
    background-color: lightblue;
    border-radius: 45%;
    font-size: 20px;
    opacity: 0.9;
}

.weather .weather-forcast-temperatures {
    font-size: 17px;
    background-color: lightblue;
    border-radius: 45%;
}

.weather .weather-forcast-temperature-min {
    opacity: 0.6;
}